.DS_Store
.log
.vscode
c3.php
node_modules/
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
vendor
*.sql
*.tar.gz
*.zip
.idea

# Used for setting local environment variables when testing
.env

# the built files for the JavaScript portions of the plugin (GraphiQL, etc)
build

# output from e2e tests
artifacts
